<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sms</title>
</head>
<body>
  <input type="tel" name="number" id="number" placeholder="enter your valid number">
  <input type="text" name="msg" id="msg">
  <input type="button" value="send sms" name="send" id="button">
  <p class="response"></p>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
</body>
</html>