<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
  <link rel="stylesheet" href="/public/stylesheets/regSuccess.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> 
   <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
  
  <script src="/public/javascripts/jquery.js"></script>
  <script src="/public/javascripts/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    

  <%- include("header.ejs") %>
<!--   
<div class ="row text-center" style="background-color: aqua;">
  <div class ="col-md-4 col-xs-12"><img src ="/images/logo.png" class ="img-responsive"><h5 id ="slogan">A Step Closer To Healthy India</h5></div>
  <div class ="col-md-4 col-xs-12"><img src ="/images/satyamev.svg" class ="img-responsive">
      <h5 id ="header-title">Ministry of Women and Child Development
          Government of India
          </h5></div>
  <div class ="col-md-4 col-xs-12"><img src ="/images/Towards a new dawn_Logo.png" class ="img-responsive"></div>
</div>
</div>
<nav class="navbar navbar-expand-lg  container-fluid" style="background-color:darkkhaki;">
  <a class="navbar-brand" href="#">Swastik</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link home " href="/">Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link regParent" href="regParent">Register Parents</a>
      </li>
      <li class="nav-item ">
          <a class="nav-link regChild" href="regChild">Register Child</a>
        </li>
  </div>
</nav> -->



       <div class="container">
        <table class="table">
            <thead class="thead-dark mt-4" style="height: 30px;">
              <tr>
                <th scope="col">Serials</th>
                <th scope="col">contactnos</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>

              
                <% for( var i in contactnos){ %>
                                        
                 <tr style="height: 30px" style="height: 100%;" >
                    <th scope="row"><%= i  %></th>
                    <td> <%= contactnos[i] %> </td>
                    <td class="send-conf">  </td>
                   
                  </tr>
                  
              <% }%>
             
            </tbody>
          </table>

             <form action="/message/sendtoall" method="POST">
            
              <input value="<%=contactnos%>" name="contactnos" style="display: none;">
              <input type="button" value="button" id="send-sms-btn" class="btn  btn-success sendmsg">
              <input type="submit" value="submit" id="submit" style="display: none">
       
            </form>
          
        </div>
        
        
      
    <script>
         $(" #send-sms-btn").click(function(){
           $("#submit").css("display","block");
          $("tr").each(function(i) {
    $(this).css("display","none");
  });

  $(".send-conf").html("<i class='fas fa-check-circle'></i> ");
  $(".table").css("color","green");
  var delay = 1000;
  $("tr").each(function(i) {
    $(this).delay(200 * i).fadeIn(1000);
delay+=1000;
});
$("#send-sms-btn").attr("disabled",true);

 
setTimeout(function(){ window.alert("ALL messages are sent .....") }, delay);

});

</script>
        
</body>
</html>