body{
    margin:0;
    padding:0;
    overflow-x:hidden;
}
#header-title{
    font-size:22px;
    color:brown;
}
.child-table{
    width:100%;
    padding:20px;
    margin-left:30%;
}
.children-table{
    width:100%;
}
.children-table td{
    padding:5px 10px; 
}
.children-table #tb-head{
    font-weight:bold;
}
.update-vaccdetail{
    display:none;
}
.child_img{
    margin:7%;
}
.card{
    padding:3%;
}
.count_reg{
    border-radius:50%;
    /* background-color: lightsalmon; */
}